node_modules
.next
out
dist
build
coverage
.playwright
playwright-report
test-results
.env
.env.local
.env.*.local
prisma/dev.db
prisma/dev.db-journal
storage/local/*
!storage/local/.gitkeep
.DS_Store
*.log
